body {
    background-color: black;
    margin: auto;
    font-family: "Euphemia", sans-serif;
    
}

h1 {
    color: white;
    text-align: center;
    font-family: "restore", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 50px
}

h2 {
    text-align: center;
    font-family: "restore", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fbb03b;
    margin-bottom: 0;
    margin-top: 80px
}

h3 {
    text-align: center;
    font-family: "restore", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fbb03b;
    margin: 20px;
}

h5 {
    font-weight: bolder;
}

h6 {
    color: white;
    font-size: 30px;
}

.navbar {
    background-color: #fbb03b;
    display: flex;
    flex-direction: row;
    justify-content: end
}

input {
    margin: 3px;
    border: 2px solid black;
    padding: 10px 20px
}

button {
    margin: 3px 30px 3px 0px;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;
}

.cards-container {
    border-top: 2px solid #fbb03b;
    border-bottom: 2px solid #fbb03b;
}

ul {
    list-style-type: none;
}

li {
    font-size: 22px; 
    color: white;
    margin-top: 10px
}

footer {
    color: white;
    font-size: 22px;
    text-align: center;
    font-family: "restore", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 50px;
}

.cont {
    position: relative
}

.stars {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 40%;
    display: block;
    background:rgba(0, 0, 0) url(Stars.png) repeat top center;
    z-index: 0
}

.favorite:hover {
    background-color: red
}

.divider {
    border-bottom: 2px solid #fbb03b;
}